# =============================
# Python Environment and Bytecode
# =============================

# Virtual environments
venv/
ENV/
env/
.venv/

# Bytecode
__pycache__/
*.py[cod]
*.so

# =============================
# IDE and Editor Configurations
# =============================

.vscode/
.idea/

# =============================
# Log Files and Temporary Files
# =============================

*.log
logs/
*.swp
*.tmp
*.bak

# =============================
# Data Outputs and Artifacts
# =============================

# Ignore intermediate and generated data
etl/data/processed/
etl/data/dimensions/
etl/data/facts/

# =============================
# Secrets and Environment Files
# =============================

.env
.env.*
!*.env.example

# Docker files
docker/.env
docker/.dockerignore

# =============================
# System Files
# =============================

.DS_Store
Thumbs.db
